certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
commonmark==0.9.1
idna==3.2
profig==0.5.1
prompt-toolkit==3.0.20
Pygments==2.10.0
questionary==1.10.0
requests==2.26.0
rich==10.9.0
six==1.16.0
urllib3==1.26.6
vk-api==11.9.7
wcwidth==0.2.5
